*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main2 img{
    width: 100%;
    margin-top: 60px;
    transition: 1s;
   position: relative;
}
.img_edit .glow-on-hover{
    position: absolute;
    top: 30ch;
    right: 30ch;
}
.collection{
    text-align: center;
    padding: 8rem 0;
}
.collection h3{
    font-size: 18px;
    letter-spacing: 3.5px;
    color: #a99577;
}
h1{
    color: #2c2c2c;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
}
.Main2 button{
    padding: 10px 40px;
    margin-bottom: 50px;
    margin-top: 15px;
    border: 1px solid #a99577;
    background-color: transparent;
    color: white;
    transition: 0.7s;
    font-size: 20px;
}
.glow-on-hover{
   color: white;
}

button:hover{
    background-color: #a99577;
    color: white;
}

.Main2 .img_edit:hover img{
    transform: scale(1.05);
}
@media screen and (max-width: 992px){
    .Main2{
        margin-right: 20px;
    }
}
.img_edit img{
   
  object-fit: cover;
  filter: grayscale(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgb(249, 249, 249);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}
.img_edit:hover img{
    box-shadow: 1px 1px 10px 0 rgba(24, 2, 2, 0.95);
}
