*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header .center span{
    margin-left: 30px;
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    
}
.Header .center .span_header_edit{
    text-decoration: none;
}
.Header .right span{
    font-size: 25px;
    margin-left: 15px;
    transition: 1s;
}
.Header .center .span_home_edit1{
    color: #a99577;
}
.Header .left img{
    width: 60%;
    margin-top: 10px;
}
.Header .right span:hover {
    color: #a99577;
}
.Header .right .span_edit{
    position: relative;
}
.Header .right .span_count{
    font-size: 15px;
    position: absolute;
    right: 103px;
    
}
.span_header_edit span{
    --s: 0.1em;   /* the thickness of the line */
    --c: #1095c1; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

.span_header_edit:hover span{
  color:  #1095c1;
  --_p: 100%
}


@media screen and (max-width: 992px) {
    .Header{
        width: 100%;
    }
        
    .Header .left img{
        width: 18%;
        
    }
    .Header .left{
        text-align: left;
        
        margin-top: 20px;
    }
    .Header .center{
        display: none;
    }
    .Header .right{
       margin-top: -40px;
       margin-right: 45px;
       
    }
    .Header .right span{
       font-size: 25px;
        
     }
     .Header .right .span_edit{
        position: relative;
     }
     .Header .right .span_count{
        position: absolute;
        display: block;
        right: -0.1%;
        bottom: 93%;
        font-size: 20px;
    }
       
       
  }
  .navbar{
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: start;
  }
  .menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  .nav-menu{
    background-color: #000;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
  }
  .nav-menu-active{
    left: 0;
    transition: 350ms;
  }