*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main6{
    padding: 3rem;
}
.box img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    opacity: 1.8;
    transition: 1s;
  
}
.box h2{
    font-size: 24px;
    transition: 1s;
    position: absolute;
    bottom:  4%;
    left: 5%;
    color: white;
    font-weight: bol
}
.box p{
    position: absolute;
    bottom:  14%;
    left: 7%;
    color: white;
    font-weight: bold;
    border: 1px solid #a99577;
    background-color: #a99577;
    padding: 6px 15px;
    font-size: 16px;
}
.box{
    position: relative;
   
}
.box:hover h2{
color: #a99577;
}
.box:hover img{
    border-radius: 50px;
}

.Main6 .top h4{
    font-size: 17px;
    color: #a99577;
     margin-bottom: 20px;
}
.Main6 .top span{
    border: 1px solid salmon;
    color: white;
    padding: 8px 20px;
    font-size: 40px;
  
    
    
    background-color: #a99577;
}
   
 
    
    
   